/* Primary and Surface Palettes */
:root {
  --p-primary-50: #ecfdf5;
  --p-primary-100: #d1fae5;
  --p-primary-200: #a7f3d0;
  --p-primary-300: #6ee7b7;
  --p-primary-400: #34d399;
  --p-primary-500: #10b981;
  --p-primary-600: #059669;
  --p-primary-700: #047857;
  --p-primary-800: #065f46;
  --p-primary-900: #064e3b;
  --p-primary-950: #022c22;
  --p-surface-0: #ffffff;
  --p-surface-50: #fafafa;
  --p-surface-100: #f4f4f5;
  --p-surface-200: #e4e4e7;
  --p-surface-300: #d4d4d8;
  --p-surface-400: #a1a1aa;
  --p-surface-500: #71717a;
  --p-surface-600: #52525b;
  --p-surface-700: #3f3f46;
  --p-surface-800: #27272a;
  --p-surface-900: #18181b;
  --p-surface-950: #09090b;
  --p-content-border-radius: 6px;

  --comfy-textarea-font-size: 10px;
  --comfy-tree-explorer-item-padding: 2px;
  
}

/* Light */
:root {
  --fg-color: #222;
  --bg-color: #ddd;
  --comfy-menu-bg: #ffffff;
  --comfy-menu-hover-bg: #ccc;
  --comfy-menu-secondary-bg: #eee;
  --comfy-input-bg: #c9c9c9;
  --input-text: #222;
  --descrip-text: #444;
  --drag-text: #555;
  --error-text: #f44336;
  --border-color: #888;
  --tr-even-bg-color: #f9f9f9;
  --tr-odd-bg-color: #fff;
  --content-bg: #e0e0e0;
  --content-fg: #222;
  --content-hover-bg: #adadad;
  --content-hover-fg: #222;
}

/*
 * Dark Mode
 * Defaults to system, change the dark variant selector to match the CSS variable configuration.
 * For example;
 * @custom-variant dark (&:where(.app-dark, .app-dark *));
 * should match to;
 * :root[class="app-dark"]
*/
@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: #fff;
    --bg-color: #202020;
    --comfy-menu-bg: #171718;
    --comfy-menu-hover-bg: #ccc;
    --comfy-menu-secondary-bg: #303030;
    --comfy-input-bg: #222;
    --input-text: #ddd;
    --descrip-text: #999;
    --drag-text: #ccc;
    --error-text: #ff4444;
    --border-color: #4e4e4e;
    --tr-even-bg-color: #222;
    --tr-odd-bg-color: #353535;
    --content-bg: #4e4e4e;
    --content-fg: #fff;
    --content-hover-bg: #222;
    --content-hover-fg: #fff;
  }
}


@theme {

    --text-comfy-textarea-font-size: var(--comfy-textarea-font-size);
    
    --color-comfy-fg: var(--fg-color);
    --color-comfy-bg: var(--bg-color);

    --color-comfy-input: var(--input-text);
    --color-comfy-input-bg: var(--comfy-input-bg);

    --color-comfy-descrip: var(--descrip-text);
    --color-comfy-drag: var(--drag-text);
    --color-comfy-error: var(--error-text);
    --color-comfy-border: var(--border-color);

     --color-comfy-menu: var(--comfy-menu-bg);
     --color-comfy-menu-hover: var(--comfy-menu-hover-bg);
     --color-comfy-menu-secondary: var(--comfy-menu-secondary-bg);
     --color-comfy-content: var(--content-bg);
     --color-comfy-content-fg: var(--content-fg);
     --color-comfy-content-hover: var(--content-hover-bg);
     --color-comfy-content-hover-fg: var(--content-hover-fg);

     --color-comfy-tr-even: var(--tr-even-bg-color);
     --color-comfy-tr-odd: var(--tr-odd-bg-color);       

}